
@keyframes scrollhint{
  0% {top:0; opacity: 1;}
  50% {top: 1rem; opacity: .5;}
  100% {top: 0; opacity: 1;}
}

.App {
  text-align: center;
  padding: 0;
  margin: 0;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #343f4e, #1e2036);
}

.App-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-shadow: 0 .25rem .5rem #04061a;
  padding: 1rem;
}

.App-icon{
  font-size: 3rem;
  margin: 0 1rem 0 1rem;
  color: lightyellow;
  text-shadow: 0 .25rem .5rem #04061a;
  user-select: none;
}

.App-heading{
  font-family: 'Abel', sans-serif;
  font-size: 3.5rem;
  color: lightsalmon;
  letter-spacing: .5rem;
  margin-left: 1rem;
  user-select: none;
}

.App-subtitle{
  font-family: 'Roboto', sans-serif;
  font-size: .75rem;
  color: lightsteelblue;
  user-select: none;
}

.App-scroll-hint{
  position: relative;
  font-size: 1.5rem;
  color: lightskyblue;
  margin-top: 2rem;
  animation: scrollhint 1.75s linear .1s infinite normal both;
}

@media only screen and (max-width: 1024px){
  .App-icon{
    font-size: 2rem;
  }
  
  .App-heading{
    font-size: 3rem;
  }
  
  .App-subtitle{
    font-size: .65rem;
  }
}

@media only screen and (max-width: 600px){
  .App-title{
    flex-direction: column;
  }

  .App-icon{
    font-size: 3rem;
  }
  
  .App-heading{
    font-size: 2.5rem;
  }
  
  .App-subtitle{
    max-width: 75vw;
    text-align: left;
    font-size: .65rem;
  }
}